<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">

 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

   <div class="row">
   <h1 class="col-md-12">Bienvenido a tu Banco</h1>
   <h4 class="col-md-12">Login Usuario</h4>
   </div>
   <input type="email" placeholder="Email" value="{{email::input}}"><br>
   <input type="password" placeholder="Password" value="{{password::input}}"><br>
   <button class="btn btn-primary" on-click="login">Login</button>
   <template is="dom-if" if="{{isError}}">
     <h5 class="col-lg-12">Verifique los datos ingresados</h5>
  </template>


   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v3/login/"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

     <iron-ajax
       id="doLogout"
       url="http://localhost:3000/colapi/v3/logout/"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXRes2"
       on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */

   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, usuarioId: {
           type: Number
         }, isLogged: {
           type: Boolean,
           value: false
         }, isError: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       console.log(loginData);
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");

     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log("login", data.detail.response);
       var user = data.detail.response.idUsuario;
       var logeado = data.detail.response.logeado;
       var nombre = data.detail.response.nombre;
       var apellido = data.detail.response.apellido;
       this.isError = data.detail.response.falla;
       if(!this.isError) {
       this.dispatchEvent(new CustomEvent('loginok', {detail:{"usuario": user, "logeadoDos":logeado, "nombre":nombre, "apellido":apellido}}))
      }
     }


     showError(error) {
       console.log("Hubo un error");
       console.log(error);
       this.isError = true;
     }
     salidaApp(f) {
      this.email="";
      this.password="";
      this.usuarioId=f.usuario;
      console.log("borrando");
      var logoutData = {
        "id" : this.usuarioId
      };
      this.$.doLogout.body = JSON.stringify(logoutData);
      // hacemos petición con los datos del formulario del iron-ajax
      this.$.doLogout.generateRequest();
     }

     manageAJAXRes2(data) {
       console.log("Recibida respuesta2 del servidor");
       console.log("login", data.detail.response);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
