<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div style="text-align:left">
   <br/>
   <br/>
     <h3><p class="font-weight-bold"> ¡Hola! <br></p>
     {{nombre}} {{apellido}}</h3> <br>
   </div>
    <div class="col-lg-6" style="text-align:center;">
    <h2 class="col-lg-12"><strong>Cuentas</strong></h2>

    <button class="btn btn-secondary" on-click="listaccount" >Consultar</button>

    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">SALDO</th>
       </tr>
      </thead>
      <tbody>
      <template is="dom-repeat" id="accountUserId" items="{{accounts}}">
        <tr on-click="detalleMov">
          <td scope="row">{{item.IBAN}}</td>
          <td>{{item.balance}}</td>
          <td><a class="btn btn-info">Ver detalle</a></td>
        </tr>
      </template>
     </tbody>
    </table>

    <template is="dom-if" if="{{!activo}}">
    <h5 class="col-lg-12"><strong>Cuenta: {{cuenta}} </strong></h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID MOV</th>
          <th scope="col">SALDO MOV</th>
          <th scope="col">FECHA</th>
       </tr>
      </thead>
      <tbody>
      <template is="dom-if" if="{{!activo}}">
       <template is="dom-repeat" id="movementUserId" items="{{movements}}">
        <tr>
          <td scope="row">{{item.id_mov}}</td>
          <td>{{item.importe}}</td>
          <td>{{item.fecha}}</td>
        </tr>
       </template>
      </template>
     </tbody>
    </table>
    </template>
    <button class="btn btn-primary" on-click="salir">Salir</button>

   </div>

   <iron-ajax
     id="getAccounts"
     url="http://localhost:3000/colapi/v3/users/{{usuario}}/accounts"
     content-type="application/json"
     method="GET"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

     <iron-ajax
       id="getMovements"
       url="http://localhost:3000/colapi/v3/movements/{{cuenta}}"
       content-type="application/json"
       method="GET"
       handle-as="json"
       on-response="manageAJAXRes2"
       on-error="showError">


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class consultaCuenta extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
            iban: {
           type: String
         }, balance: {
           type: Number
         }, accounts:{
           type: Array
         }, usuario:{
           type: Number
         }, nombre:{
           type: String
         }, apellido:{
           type: String
         }, cuenta:{
           type: String
         }, activo: {
           type: Boolean,
           value:true
         }
       };
     }

     mostrarDatosRecibidos(data2){
       this.activo = true;
       console.log("RECEPTOR2: " + JSON.stringify(data2));
       this.usuario = data2.usuario;
       this.nombre = data2.nombre;
       this.apellido = data2.apellido;
       console.log(this.usuario);
     }


     listaccount() {
       console.log("El usuario ha pulsado el botón.");
       this.$.getAccounts.generateRequest();
       console.log("Petición enviada");
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail);
       console.log(data.detail.response[0]);
       this.accounts = data.detail.response;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

     detalleMov(g) {
       this.activo = false;
       console.log("usuario ha pulsado ver movimientos")
//       this.ciudadSeleccionada = e.model.item.ciudad
       console.log(g);
       console.log(g.model.item.IBAN);
//       console.log(e.iban);
       var cuentaIban = g.model.item.IBAN;
       console.log(cuentaIban);
       this.cuenta = g.model.item.IBAN;
       this.$.getMovements.generateRequest();
       console.log("Petición enviada movimientos");
//       this.logeado = true;
//       this.dispatchEvent(new CustomEvent('detalleok', {detail:{"cuentaIban": cuentaIban}}))

     }

     manageAJAXRes2(data2) {
       console.log("Recibida respuesta del servidor 5");
       console.log(data2.detail);
       console.log(data2.detail.response[0]);
       this.activo = data2.detail.response.falla;
       console.log(this.activo);

       this.movements = data2.detail.response;

     }

     salir() {
       var usuarioDos = this.usuario;
       console.log(usuarioDos);
       this.dispatchEvent(new CustomEvent('salirok', {detail:{"usuario": usuarioDos}}))
     }

   }
   window.customElements.define(consultaCuenta.is, consultaCuenta);
 </script>
</dom-module>
