<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">


<dom-module id="basico-nada">
  <template>
    <style>
      :host {
        display: block;
      }
      login-usuario[hidden] {
       display: none;
     }
      visor-cuentas[hidden] {
       display: none;
     }
    </style>
     <login-usuario id="logeo" hidden$="{{!logeado}}"></login-usuario>
     <visor-cuentas id="cuenta" hidden$="{{logeado}}"></visor-cuentas>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BasicoNada extends Polymer.Element {
      static get is() { return 'basico-nada'; }
      ready() {
        super.ready()
        this.$.logeo.addEventListener('loginok', e => {this.procesarLogin(e)})
        this.$.cuenta.addEventListener('salirok', f => {this.procesarSalir(f)})
      }
      static get properties() {
        return {
          siHay: {
                  type: Boolean,
                  value:false
          },
          logeado: {
                  type: Boolean,
                  value:true
          },
          usuario: {
                  type: Number
          },
          nombre: {
                  type: String
          },
          apellido: {
                  type: String
          },
        };
      }
      procesarLogin(e){
        console.log("SOY TU PADRE: " + e.detail);
        this.siHay = e.detail.logeadoDos;
        this.usuario=e.detail.usuario;
        this.nombre=e.detail.nombre;
        this.apellido=e.detail.apellido;
        var muestra = e.detail.logeadoDos;
        var usuarioM=e.detail.usuario;
        console.log(muestra);
        console.log(usuarioM);
        this.$.cuenta.mostrarDatosRecibidos(e.detail);
        this.logeado = false;

      }
      procesarSalir(f){
        console.log("llega informacion");
        this.$.logeo.salidaApp(f.detail);
        this.logeado = true;
      }
    }

    window.customElements.define(BasicoNada.is, BasicoNada);
  </script>
</dom-module>
